#####
## input
#####
data


#####
## output
#####
processed_data
figures


#####
## tmp output
#####
tmp*
*/tmp*


#####
## compile output
#####
*.pyc
*/*.pyc


#####
## to delete
#####
*/delete
*/*/delete
*.mine
*.org
*.bk

#####
## condor
#####
condor_data

